section{
  background-color: pink;
  border: 1px solid red;
  justify-content:center;
  text-align: center;
  padding-top: 10px;
  // display: flex;
}
.logoName{
  float: left;
  text-decoration: none;
  padding-right: 100px;
}
.userName{
  float: right;
}


